	
		@page { margin-left: 1.25in; margin-right: 1.25in; margin-top: 1in; margin-bottom: 1in }
		H1 { margin-bottom: 0.08in; font-family: Arial, Helvetica, sans-serif; font-size: 16pt }
		H4 { margin-bottom: 0.08in; font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-style: italic }
		H2 { margin-bottom: 0.08in; font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-style: italic }
.normal {  font-family: Arial, Helvetica, sans-serif; font-size: 12px}
	
	